@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #EEE9DA !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a.vs-link {
    color: #6096B4;
    text-decoration: underline;
}

@layer utilities {
  .bg-selected {
    background-color: #EEE9DA;
  }
}
